<!DOCTYPE html>
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="shop/layout.html :: head(${title})">
    <title></title>
</head>
<body class="body-wrapper">
<header th:replace="shop/layout.html :: header"></header>
<!--==================================
=            User Profile            =
===================================-->
<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img th:src="${customer.avatar}" alt="Customer's avatar" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center" th:text="${customer.name}"></h5>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                        <ul>
                            <li><a href="">Savings Dashboard</a></li>
                            <li><a href="">Saved Offer <span>(5)</span></a></li>
                            <li><a href="">Favourite Stores <span>(3)</span></a></li>
                            <li><a href="#">Recommended</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Customer profile</h2>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Personal Information</h3>
                            <form action="/users/edit" th:object="${customer}" method="post">
                                <input type="hidden" name="email" th:value="${email}">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label for="first-name">Name</label>
                                    <input type="text" class="form-control" id="first-name" th:field="*{name}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="last">Email</label>
                                    <input id="last" class="form-control" type="text" th:value="${email}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="form-label">Gender</label>
                                    <div class="mb-12">

                                    <select id="gender" class="select" th:field="*{gender}" disabled>
                                        <option th:value="0" th:text="Male" th:selected="${customer.gender == 0}"></option>
                                        <option th:value="1" th:text="Female" th:selected="${customer.gender == 1}"></option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Birthday</label>
                                    <input type="date" class="form-control" id="birthday" th:field="*{birthdate}"
                                           readonly>
                                </div>
                                <input type="hidden" name="image" th:value="${image}">
                                <div class="form-group">
                                    <label for="idCard">Id Card</label>
                                    <input type="text" class="form-control" id="idCard" th:field="*{idCard}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" class="form-control" id="phone" th:field="*{phone}" readonly>
                                </div>
                                <div class="form-group" id="avatar-group" style="display: none;">
                                    <label for="idCard">Avatar</label>
                                    <div id="image-preview-container1">
                                        <img style="width: 10rem; margin: 2%" th:src="*{avatar}" alt="Customer's avatar">
                                        <input type="hidden" th:value="*{avatar}">
                                    </div>
                                    <input type="file" id="upload-file" multiple accept=".jpg, .jpeg, .png" onchange="limitFiles(this, 1)" >
                                    <input name="imageAvatar" type="hidden" id="imageAvatar" th:field="*{avatar}" ></div>
                                <a role="button"
                                   class="btn btn-primary" id="edit">Edit</a>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <div class="widget change-password">
                            <h3 class="widget-header user">Edit Password</h3>
                            <form action="#">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password">
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password">
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password">
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================
=            Footer            =
=============================-->
<footer th:replace="shop/layout.html :: footer"></footer>
<div th:replace="shop/layout.html :: js"></div>
<script>
    const avatarGroup = document.getElementById("avatar-group");
    const inputElements = document.querySelectorAll('input');
    const selectorAll = document.querySelectorAll('select');
    document.getElementById("edit").addEventListener("click", function (event) {
        inputElements.forEach(function (input) {
            input.readOnly = false;
        });
        selectorAll.forEach(function (select) {
            select.removeAttribute("disabled");
            document.getElementById("gender").removeAttribute("disabled");
        });
        avatarGroup.style.display = "block";
        event.preventDefault();
        var buttonElement = document.createElement("button");
        buttonElement.type = "submit";
        buttonElement.textContent = "Done";
        buttonElement.className = "btn btn-primary"
        var linkElement = document.getElementById("edit");
        linkElement.parentNode.replaceChild(buttonElement, linkElement);
    });
</script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container1");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);
            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script type="module" src="/js/configuration-firebase-thien.js"></script>
<script type="module" src="/js/upload-file-thien.js"></script>
</body>
</html>