<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
       ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="/employee/edit" th:object="${employeeDto}"gi
                                      method="post" style="position: relative">
                                    <div style="display: grid;grid-template-columns: repeat(2,1fr)">


                                        <div >
                                            <input type="hidden" th:field="*{id}">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="employeeName">Name <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <!-- //tên,id_card,địa chỉ,giới tính,ngày sinh,lương,image,password-->
                                                <div class="col-lg-3">
                                                    <input  type="text" class="form-control" id="employeeName"
                                                           aria-describedby="employeeNameValid"
                                                           style="background-color: white; color: black;width: 312px"
                                                           th:field="*{employeeName}" placeholder="Enter a name.." required>
                                                    <div id="employeeNameValid" style="color: red"
                                                         th:if="${#fields.hasErrors('employeeName')}"
                                                         th:errors="*{employeeName}" class="form-text"></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="idCard">Id Card <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" class="form-control" id="idCard"
                                                           aria-describedby="idCardValid"
                                                           style="background-color: white; color: black;width: 312px"
                                                           th:field="*{idCard}" placeholder="Your valid id card.." required>
                                                    <div id="idCardValid" style="color: red"
                                                         th:if="${#fields.hasErrors('idCard')}"
                                                         th:errors="*{idCard}" class="form-text"></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="address">Address <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" class="form-control" id="address"
                                                           aria-describedby="addressValid"
                                                           style="background-color: white; color: black;width: 312px"
                                                           th:field="*{address}" placeholder="Enter a address.." required>
                                                    <div id="addressValid" style="color: red"
                                                         th:if="${#fields.hasErrors('address')}"
                                                         th:errors="*{address}" class="form-text"></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="gender">Gender <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <select class="form-control" id="gender" th:field="*{gender}" style="width: 312px">
                                                        <option value="0">Male</option>
                                                        <option value="1">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="birthday">Birthday <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="date" class="form-control" id="birthday"
                                                           aria-describedby="birthdayValid"
                                                           style="background-color: white; color: black;width: 312px"
                                                           th:field="*{birthdate}" th:value="${employeeDto.birthdate}" required>
                                                    <div id="birthdayValid" style="color: red"
                                                         th:if="${#fields.hasErrors('birthdate')}"
                                                         th:errors="*{birthdate}" class="form-text"></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="salary">Salary<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-3">
                                                    <input type="text" class="form-control" id="salary"
                                                           aria-describedby="salaryValid"
                                                           style="background-color: white; color: black;width: 312px"
                                                           th:field="*{salary}" placeholder="Enter salary.." required>
                                                    <div id="salaryValid" style="color: red"
                                                         th:if="${#fields.hasErrors('salary')}"
                                                         th:errors="*{salary}" class="form-text"></div>
                                                </div>
                                            </div>
                                            <input type="hidden" th:value="${image}"  name="image">
                                            <div class="form-group row">
                                                <div class="col-lg-8 ml-auto">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    <a href="/employee" role="button" class="btn btn-primary">Back to list</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <img style="height: 11rem" th:src="${image}" alt="picture of employee">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<div th:replace="admin/layout.html :: js"></div>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);
            img.style.width = "6rem";
            img.style.height = "6rem" ;
            img.style.margin="7px";
            container.appendChild(img);
        }
    });
</script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script type="module" src="/js/configuration-firebase-thoi.js"></script>
<script type="module" src="/js/upload-file-thoi.js"></script>
</body>

</html>