<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div th:text="${message}" style="color: green"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Employee List</h4>
                            <form action="/employee">
                                <div class="input-group mb-3" style="width: 30%">
                                    <input type="text" class="form-control" placeholder="search"
                                           aria-label="" name="searchName" th:value="${searchName}">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search
                                    </button>
                                </div>
                            </form>
                            <a role="button" class="btn btn-primary" href="/employee/create">Create new employee</a>

            g                <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <span>
                                                Name
                                        <a th:href="@{/employee/(sort='up')}"><i class="fa fa-arrow-up"></i></a>
                                                    <a th:href="@{/employee/(sort='down')}"><i
                                                            class="fa fa-arrow-down"></i></a>
                                            </span>
                                        </th>
                                        <th>ID Card</th>
                                        <th>Address</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Salary</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="employee,status : ${employeeDtos}">
                                        <tr>
                                            <td th:text="${status.count}"></td>
                                            <td th:text="${employee.employeeName}"></td>
                                            <td th:text="${employee.idCard}"></td>
                                            <td th:text="${employee.address}"></td>
                                            <td th:text="${employee.gender == 0 ? 'Male' : 'Female'}"></td>
                                            <td th:text="${employee.birthDate}"></td>
                                            <td th:text="${employee.salary}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <!--                                            <td>-->
                                            <!--                                                <span th:if="${employee.status==1}"-->
                                            <!--                                          class="badge badge-danger px-2">Not Available</span>-->
                                            <!--                                                <span th:if="${employee.status==0}"-->
                                            <!--                                                      class="badge badge-success px-2">Available</span>-->
                                            <!--                                            </td>-->
                                            <td th:text="${employee.status == 0 ? 'Available' : 'not Available'}"
                                                th:class="${employee.status == 0 ? 'badge badge-success px-2'
                                                : 'badge badge-danger px-2'}">
                                            </td>
                                            <td><span><a th:href="@{/employee/edit/__${employee.id}__}"
                                                         data-toggle="tooltip" data-placement="top"
                                                         title="Edit"><i
                                                    class="fa fa-pencil color-muted m-r-5"></i> </a>
                                                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                   th:attr="onclick=|showModal(${employee.id},'${employee.employeeName}')|">
                                                                <i class="fa fa-close color-danger" title="Delete"></i>
                                            </a></span>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>ID Card</th>
                                        <th>Address</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Salary</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
<!--                                <a th:href="@{/employee(page = ${employeeDtos.number-1},searchName = ${searchName})}"-->
<!--                                   th:if="${employeeDtos.hasPrevious()}">Previous</a>-->
<!--                                <span th:text="${employeeDtos.number+1}"></span> / <span-->
<!--                                    th:text="${employeeDtos.totalPages}"></span>-->
<!--                                <a th:href="@{/employee(page = ${employeeDtos.number+1},searchName = ${searchName})}"-->
<!--                                   th:if="${employeeDtos.hasNext()}">Next</a>-->
                                <div class="pagination justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item" th:class="${employeeDtos.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                                                <a class="page-link" th:href="@{/employee(page = ${employeeDtos.number-1},searchName = ${searchName})}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li th:each="page : ${#numbers.sequence(0, employeeDtos.totalPages - 1)}" th:class="${employeeDtos.number == page} ? 'page-item active' : 'page-item'">
                                                <a class="page-link" th:href="@{/employee(page=${page})}" th:text="${page + 1}"></a>
                                            </li>
                                            <li class="page-item" th:class="${employeeDtos.hasNext()} ? 'page-item' : 'page-item disabled'">
                                                <a class="page-link" th:href="@{/employee(page=${employeeDtos.totalPages - 1},searchName = ${searchName})}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <form action="/employee/delete" method="post" id="deleteForm">
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <input type="hidden" name="code" id="code">
                                            <div class="modal-body">
                                                Do you want to delete <b><span id="name"></span></b>?
                                                <br>
                                                <label style="color: red">(Note: this action will not be undone)</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button id="deleteButton" type="submit" class="btn btn-danger">Accept
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:replace="admin/layout.html :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<div th:replace="admin/layout.html :: js"></div>
<script>
    function showModal(id, name) {
        document.getElementById("name").innerHTML = name;
        document.getElementById("code").value = id;
        $("#deleteModal").modal("show");
    }

    // const deleteButton = document.querySelector("#deleteButton");
    // const deleteForm = document.querySelector("#deleteForm");
    // const modal = document.getElementById("deleteModal");
    // deleteButton.addEventListener("click", function (event) {
    //     event.preventDefault();
    //     Swal.fire({
    //         title: 'Xoá thành công',
    //         text: 'Dữ liệu đã được xoá thành công!',
    //         icon: 'success',
    //         showConfirmButton: true
    //     }).then((result) => {
    //         if (result.isConfirmed) {
    //             // Nếu người dùng xác nhận, thực hiện submit form
    //             deleteForm.submit();
    //             modal.style.display ="none";
    //         }
    //     });
    // });
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>