<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Customer List</h2>
<form action="/customers">
<input th:value="${searchName}" type="text" name="searchName">
<input type="submit" value="submit">
</form>
<br>
<br>
<fieldset>
    <legend>customerList</legend>
    <table>
        <tr>
            <td>Name</td>
            <td>IdCard</td>
            <td>Gender</td>
            <td>Birthdate</td>
            <td>Email</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        <th:block th:each="list,status:${customerList}">
            <tr>
                <td th:text="${list.name}"></td>
                <td th:text="${list.idCard}"></td>
                <td th:text="${list.gender == 0 ? 'Male' : 'Female'}"></td>
                <td th:text="${list.birthdate}"></td>
                <td th:text="${list.account.email}"></td>
                <td th:text="${list.account.status == 0 ? 'Available' : 'not Available'}"></td>
                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
            </tr>
        </th:block>
    </table>
</fieldset>

<a th:href="@{/customers(page = ${customerList.number-1},searchName = ${searchName})}" th:if="${customerList.hasPrevious()}">Previous</a>
<span th:text="${customerList.number+1}"></span> / <span th:text="${customerList.totalPages}"></span>
<a th:href="@{/customers(page = ${customerList.number+1},searchName = ${searchName})}" th:if="${customerList.hasNext()}">Next</a>

</body>
</html>