<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Contract Detail</h4>
                            <hr>
                            <div class="form-validation">
                                <form class="form-valide" action="/admins/saveBill" method="post" th:object="${bill}">
                                    <input type="hidden" th:value="${bill.id}" id="billId">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{contract}">
                                    <input type="hidden" th:field="*{actualReturnDate}">
                                    <input type="hidden" th:field="*{actualReceiveDate}">
<!--                                    <input type="hidden" th:field="*{incidentalExpensesList}">-->
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-0">Customer Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-0"
                                                   th:value="${bill.contract.booking.customer.name}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-1">Employee Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-1"
                                                   th:value="${bill.contract.employee.employeeName}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-2">Vehicle Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-2"
                                                   th:value="${bill.contract.booking.vehicle.vehicleName}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-4">Rental Fee</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-4"
                                                   th:value="${bill.contract.booking.vehicle.rentalPrice}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-5">Days</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-5"
                                                   th:value="${days}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-6">Collateral Asset</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-6"
                                                   th:value="${bill.contract.collateralAsset.assetName}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-7">Receive Date - Actual</label>
                                        <div class="col-lg-3">
                                            <input type="date" class="form-control"
                                                   th:value="${bill.contract.booking.receiveDate}" disabled>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="date" class="form-control" id="val-7"
                                                   th:value="${bill.actualReceiveDate}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-8">Return Date - Actual</label>
                                        <div class="col-lg-3">
                                            <input type="date" class="form-control" disabled
                                                   th:value="${bill.contract.booking.returnDate}">
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="date" class="form-control" id="val-8"
                                                   th:value="${bill.actualReturnDate}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="val-5">Incidental Expenses</label>
                                        <div class="col-lg-5">
                                            <input type="number" class="form-control" id="expenses" style="width: 100%;" disabled>
                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal" data-whatever="@mdo">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label" for="final">Total</label>
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" id="final" name="finalPrice" disabled>
                                        </div>
                                    </div>
                                    <div id="incidentalExpensesList"></div>
                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">New
                                                        Incidental Expenses</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" id="id" value="0">
                                                    <div class="form-group">
                                                        <label for="name" class="col-form-label">Expense Name:</label>
                                                        <input type="text" class="form-control"
                                                               id="name" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price" class="col-form-label">price:</label>
                                                        <input type="number" class="form-control"
                                                               id="price" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description" class="col-form-label">Description:</label>
                                                        <input type="text" class="form-control"
                                                               id="description" >
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" onclick="addNew()" data-dismiss="modal"
                                                            aria-label="Close" class="btn btn-primary">Save
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:replace="admin/layout.html :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->

<script>
    let final = document.getElementById('final');

    const days = document.getElementById('val-5').value;
    const price = document.getElementById('val-4').value;

    let total = 0;

    // function updateExpensesInput() {
    //     resultCost.value = total;
    //     successHandler();
    //     final = total + price;
    // }
    //
    document.addEventListener("DOMContentLoaded", function() {
        successHandler();
    });

    function removeById(id) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "post",
            url: "http://localhost:8080/api/incidentalExpenses/bill/delete/" + id,
            success: function(response) {
                console.log("success");
                successHandler();
            }
        });
        event.preventDefault();
    }

    function edit(id) {
        let expenseName = $('#nameEdit' + id).val();
        let price = $('#priceEdit' + id).val();
        let description = $('#descriptionEdit' + id).val();
        let billId = $('#billId').val();
        let data = {
            id: id,
            expenseName: expenseName,
            price: price,
            description: description
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "post",
            data: JSON.stringify(data),
            url: "http://localhost:8080/api/incidentalExpenses/bill/" + billId,
            success: function(response) {
                console.log("success");
                successHandler();
            }
        });
        event.preventDefault();
    }

    function addNew() {
        let expenseName = $('#name').val();
        let price = $('#price').val();
        let description = $('#description').val();
        let billId = $('#billId').val();
        let data = {
            expenseName: expenseName,
            price: price,
            description: description
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "post",
            data: JSON.stringify(data),
            url: "http://localhost:8080/api/incidentalExpenses/bill/" + billId,
            success: function(response) {
                console.log("success");
                successHandler();
                clearInputFields();
            }
        });
        event.preventDefault();
    }

    function clearInputFields() {
        document.getElementById('name').value = '';
        document.getElementById('price').value = '';
        document.getElementById('description').value = '';
    }

    function successHandler() {
        total = 0;
        let billId = $('#billId').val();
        $.ajax({
            type: "get",
            url: "http://localhost:8080/api/incidentalExpenses/" + billId,
            success: function (data) {
                let content = ` <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>Expense Name</th>
                                            <th>Price</th>
                                            <th>Description</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>`
                for (let i = 0; i < data.length; i++) {
                    content += getData(data[i]);
                    total += data[i].price;
                }
                content += `</tbody></table>`;
                document.getElementById('expenses').value = total;

                document.getElementById('final').value = parseInt(total) + parseInt(price) * parseInt(days);

                document.getElementById('incidentalExpensesList').innerHTML = content;
            }
        })

    }

    function getData(data) {
        return `<tr>
                    <td>${data.expenseName}</td>
                    <td>${data.price}</td>
                    <td>${data.description}</td>
                    <td>
                        <span>
                            <a style="margin: 3%" href="#" class="label gradient-1 rounded"
                               data-toggle="tooltip" data-placement="top"
                               data-bs-toggle="modal"
                               data-bs-target="#exampleModal_${data.id}">
                                <i class="fa fa-pencil">
                                </i>
                            </a>
                            <button style="margin: 3%; border: white"
                               onclick="removeById(${data.id})"
                               class="label gradient-5 rounded"
                               data-toggle="tooltip" data-placement="top">
                                <i class="fa fa-close"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal_${data.id}"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel_${data.id}"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"
                                    id="exampleModalLabel_${data.id}">
                                    Modal
                                    title</h1>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Expense Name:</label>
                                    <input type="text" class="form-control"
                                           id="nameEdit${data.id}" value="${data.expenseName}">
                                </div>
                                <div class="form-group">
                                    <label for="price" class="col-form-label">price:</label>
                                    <input type="number" class="form-control"
                                           id="priceEdit${data.id}" value="${data.price}">
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description:</label>
                                    <input type="text" class="form-control"
                                           id="descriptionEdit${data.id}" value="${data.description}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-primary"
                                   data-bs-dismiss="modal" onclick="edit(${data.id})">Save</button>
                            </div>
                        </div>
                    </div>
                </div>`;
    }
</script>


<div th:replace="admin/layout.html :: js"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>