<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
       ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="/admins/customers/edit" th:object="${customerDto}"
                                      method="post">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:value="${email}" name="email">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="customerName">Name <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="customerName"
                                                   aria-describedby="customerNameValid"
                                                   style="background-color: white; color: black"
                                                   th:field="*{name}" placeholder="Enter a name.." required>
                                            <div id="customerNameValid" style="color: red"
                                                 th:if="${#fields.hasErrors('name')}"
                                                 th:errors="*{name}" class="form-text"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="phoneNumber">Phone number<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="phoneNumber"
                                                   aria-describedby="idCardValid"
                                                   style="background-color: white; color: black"
                                                   th:field="*{phone}" placeholder="Your valid id card.." required>
                                            <div id="" style="color: red"
                                                 th:if="${#fields.hasErrors('phone')}"
                                                 th:errors="*{phone}" class="form-text"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Avatar <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div id="image-preview-container1"><img th:src="*{avatar}"
                                                                                    alt="Customer's avatar">
                                                <input type="hidden" th:value="*{avatar}"></div>
                                            <input type="file" id="upload-file"
                                                   multiple accept=".jpg, .jpeg, .png" onchange="limitFiles(this, 1)">
                                            <input name="imageAvatar" type="hidden" id="imageAvatar"
                                                   th:field="*{avatar}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="idCard">Id Card <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="idCard"
                                                   aria-describedby="idCardValid"
                                                   style="background-color: white; color: black"
                                                   th:field="*{idCard}" placeholder="Your valid id card.." required>
                                            <div id="idCardValid" style="color: red"
                                                 th:if="${#fields.hasErrors('idCard')}"
                                                 th:errors="*{idCard}" class="form-text"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="gender">Gender <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <select class="form-control" id="gender" th:field="*{gender}" required>
                                                <option value="0">Male</option>
                                                <option value="1">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="date-input">Birthday <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="date" class="form-control" id="date-input"
                                                   th:field="*{birthdate}" required>
                                        </div>
                                        <div id="birthdayValid" style="color: red"
                                             th:if="${#fields.hasErrors('birthdate')}"
                                             th:errors="*{birthdate}" class="form-text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="driverLicense">Driver License <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="driverLicense"
                                                   th:field="*{driverLicense}"
                                                   placeholder="Your valid Id Driver License.." required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Verification <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <p th:if="${customerDto.verification} == 0">Waiting for Authentication</p>
                                            <p th:if="${customerDto.verification} == 1">Verified</p>
                                        </div>
                                    </div>
                                    <div style="display: grid; grid-template-columns: repeat(2 ,1fr)">
                                        <div>
                                            <div class="form-group row" style="align-content: center">
                                                <label class="col-lg-4 col-form-label">Front Image Driver License <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <div id="image-preview-container2"><img th:src="*{imageDriverLicenseFront}" alt="Front Image Driver License">
                                                        <input type="hidden" th:value="*{imageDriverLicenseFront}">
                                                    </div>
                                                    <input type="file" id="upload-file1"
                                                           multiple accept=".jpg, .jpeg, .png"
                                                           onchange="limitFiles(this, 1)">
                                                    <input name="imageLicense1" type="hidden" id="imageLicense1" th:field="*{imageDriverLicenseFront}"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="form-group row" style="align-content: center">
                                                <label class="col-lg-4 col-form-label">Back Image Driver License <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <div id="image-preview-container3"><img th:src="*{imageDriverLicenseBack}" alt="Back Image Driver License">
                                                        <input type="hidden" th:value="*{imageDriverLicenseBack}">
                                                    </div>
                                                    <input type="file"
                                                           id="upload-file2" multiple accept=".jpg, .jpeg, .png"
                                                           onchange="limitFiles(this, 1)">
                                                    <input name="imageLicense2" type="hidden" id="imageLicense2" th:field="*{imageDriverLicenseBack}"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group row" style="align-content: center">
                                                <label class="col-lg-4 col-form-label">Front Image Id Card <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <div id="image-preview-container4"><img th:src="*{imageIdCardFront}"
                                                                                            alt="Front Image Id Card">
                                                        <input type="hidden" th:value="*{imageIdCardFront}"
                                                               name="image"></div>
                                                    <input type="file"
                                                           id="upload-file3" multiple accept=".jpg, .jpeg, .png"
                                                           onchange="limitFiles(this, 1)">
                                                    <input name="image1" type="hidden" id="image1" th:field="*{imageIdCardFront}" required>
                                                </div>
                                            </div>
                                            <div class="form-group row" style="align-content: center">
                                                <label class="col-lg-4 col-form-label">Back Image Id Card <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <div id="image-preview-container5"><img th:src="*{imageIdCardBack}" alt="Back Image Id Card">
                                                        <input type="hidden" th:value="*{imageIdCardBack}">
                                                    </div>
                                                    <input type="file"
                                                           id="upload-file4" multiple accept=".jpg, .jpeg, .png"
                                                           onchange="limitFiles(this, 1)">
                                                    <input name="image2" type="hidden" id="image2" th:field="*{imageIdCardBack}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <a href="/admins/customers" role="button" class="btn btn-primary">Back to
                                                    list</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<div th:replace="admin/layout.html :: js"></div>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container1");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);
            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file1").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container2");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);

            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file2").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container3");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);

            // img.style.width < img.style.height;
            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file3").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container4");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);

            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file4").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container5");
        container.innerHTML = "";

        const maxFiles = 1;
        const files = e.target.files;

        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);

            img.style.width = "6rem"
            img.style.height = "6rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script type="module" src="/js/configuration-firebase-thien.js"></script>
<script type="module" src="/js/upload-file-thien.js"></script>
</body>
</html>