<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Customer List</h4>
                            <div class="row">
                                <div class="col-sm-10">
                                    <form action="/customers">
                                        <div class="input-group mb-3" style="width: 30%">
                                            <input type="text" class="form-control" placeholder="search"
                                                   aria-label="" name="searchName" th:value="${searchName}">
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <a role="button" class="btn btn-primary" href="/customers/create">Create new customer</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Name
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='name', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='name', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            ID Card
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='id_card', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='id_card', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Gender
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='gender', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='gender', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Birthday
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='birthdate', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='birthdate', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Email
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='acc.email', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='acc.email', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Status
                                            <span style="float: right;">
                                                <a th:href="@{/customers/(sortProperty='acc.status', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/customers/(sortProperty='acc.status', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="list,status : ${customerList}">
                                        <tr>
                                            <td th:text="${status.count}"></td>
                                            <td th:text="${list.name}"></td>
                                            <td th:text="${list.getIdCard()}"></td>
                                            <td th:text="${list.getGender() == 0 ? 'Male' : 'Female'}"></td>
                                            <td th:text="${list.getBirthdate()}"></td>
                                            <td th:text="${list.getEmail()}"></td>
                                            <td th:text="${list.status == true ? 'Available' : 'Not available'}"
                                                th:class="${list.status == true ? 'label gradient-4 rounded'
                                                : 'label gradient-5 rounded'}"></td>
                                            <td>
                                                <span style="display: flex">
                                                    <a style="margin: 3%;" th:href="@{/customers/edit/__${list.id}__}"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="Edit" class="label gradient-1 rounded">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a style="margin: 3%;" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal"
                                                       th:attr="onclick=|showModal(${list.id},'${list.name}')|"
                                                       class="label gradient-3 rounded">
                                                        <i class="fa fa-close color-danger" title="Delete"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example" style="display: flex;justify-content: center">
                                    <ul class="pagination">
                                        <th:block th:if="${customerList.number == 0}">
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number - 1}, searchName=${searchName})}"
                                                   th:disabled="${customerList.number == 0}">Previous</a>
                                            </li>
                                        </th:block>
                                        <th:block th:unless="${customerList.number == 0}">
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number - 1}, searchName=${searchName})}">Previous</a>
                                            </li>
                                        </th:block>

                                        <th:block
                                                th:each="index : ${#numbers.sequence(0, customerList.totalPages - 1)}">
                                            <th:block th:if="${index.equals(customerList.number)}">
                                                <li class="page-item active">
                                                    <a class="page-link"
                                                       th:href="@{/customers(page=${index}, searchName=${searchName})}"
                                                       th:text="${index + 1}"></a>
                                                </li>
                                            </th:block>
                                            <th:block th:unless="${index.equals(customerList.number)}">
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       th:href="@{/customer(page=${index}, searchName=${searchName})}"
                                                       th:text="${index + 1}"></a>
                                                </li>
                                            </th:block>
                                        </th:block>

                                        <th:block th:if="${customerList.hasNext()}">
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number + 1}, searchName=${searchName})}">Next</a>
                                            </li>
                                        </th:block>
                                        <th:block th:unless="${customerList.hasNext()}">
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   th:href="@{/customers(page=${customerList.number + 1}, searchName=${searchName})}">Next</a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </nav>

                            </div>
                            <form action="/customers/delete" method="post" id="deleteForm">
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <input type="hidden" name="code" id="code">
                                            <div class="modal-body">
                                                Do you want to delete <b><span id="name"></span></b>?
                                                <br>
                                                <label style="color: red">(Note: this action will not be undone)</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button id="deleteButton" type="submit" class="btn btn-danger">Accept
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:replace="admin/layout.html :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->

<div th:replace="admin/layout.html :: js"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
    function showModal(id, name) {
        document.getElementById("name").innerHTML = name;
        document.getElementById("code").value = id;
        $("#deleteModal").modal("show");
    }

</script>
</body>

</html>